@charset "UTF-8";

// NEW

.bad-browser {
    .browsers {
        margin: 20px 0;

        .browsers-title {}

        .browsers-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .browser-item {
                text-align: center;
                margin-top: 20px;

                &:hover {
                    .browser-icon {
                        border-bottom: 2px solid $secondary-color-hover;
                    }
                }

                a {
                    text-align: center;
                    text-decoration: none;

                    .browser-icon {
                        display: block;
                        border-bottom: 2px solid transparent;
                        padding-bottom: 5px;
                        margin: 0 auto 5px;
                        width: $bad-browser-icon-size;
                        height: $bad-browser-icon-size;
                        transition: border-bottom-color .2s;

                        &.browser-icon-chrome {
                            background: transparent url('#{$path-published-images}/browsers.png') no-repeat 0 $bad-browser-position-chrome;
                        }
                        &.browser-icon-firefox {
                            background: transparent url('#{$path-published-images}/browsers.png') no-repeat 0 $bad-browser-position-firefox;
                        }
                        &.browser-icon-opera {
                            background: transparent url('#{$path-published-images}/browsers.png') no-repeat 0 $bad-browser-position-opera;
                        }
                        &.browser-icon-safari {
                            background: transparent url('#{$path-published-images}/browsers.png') no-repeat 0 $bad-browser-position-safari;
                        }
                    }
                }

                .mobile {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    a {
                        width: 120px;
                        height: 36px;
                        overflow: hidden;
                        line-height: 40;
                        margin: 0 0 5px;
                        transition: opacity .2s;
                    }

                    &:hover {
                        a {
                            opacity: .5;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    .mobile-apple {
                        background: transparent url('#{$path-published-images}/app-store.png') no-repeat center center;
                    }
                    .mobile-google {
                        background: transparent url('#{$path-published-images}/google-play.png') no-repeat center center;
                    }
                }
            }
        }
    }
}
