// ==========================================================================
// Bad Browser Detect variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Typography
//  3. Buttons
//  4. Media
//  5. Cards
//  6. Paths
//  7. Bad Browsers

// 1. Colors
// ==========================================================================

$primary-color: #292929;
$secondary-color: #00ADEF;
$secondary-color-hover: #0088C6;

$background-color: #E8E8E8;

// 2. Typography
// ==========================================================================

$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size: 10pt;
$font-weight: 300;

// 3. Buttons
// ==========================================================================

// Shared styles
$button-background: $secondary-color;
$button-background-focus: $secondary-color-hover;
$button-color: #FFFFFF;

$button-border: none;

$button-font-family: $font-family;
$button-font-size: 14px;
$button-font-weight: 300;

$button-padding: 5px 15px;
$button-margin: 5px;

// Flat buttons
$button-flat-color: #343434;
$button-flat-background-focus: $background-color;

// 4. Media
// ==========================================================================

// Media Query Ranges
$small-screen: 600px;
$medium-screen: 992px;

$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";

// 5. Cards
// ==========================================================================

$card-padding: 24px;
$card-bg-color: #FFFFFF;

$card-max-width: $medium-screen;
$card-radius: $card-padding / 2;

$card-font-size: $font-size * 1.7;

$card-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.37);

// 6. Paths
// ==========================================================================

$path-published-images: '/vendor/bad-browser/images';

// 7. Bad Browsers
// ==========================================================================

$bad-browser-position-safari: 0;
$bad-browser-position-firefox: -82px;
$bad-browser-position-chrome: -167px;
$bad-browser-position-opera: -251px;

$bad-browser-icon-size: 79px;
